# =========================
# R / RStudio
# =========================
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj

# =========================
# Quarto / R Markdown
# =========================
.quarto/
*_cache/
*_files/
.knit.md

# =========================
# Logs
# =========================
*.log

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
